.keywordDisplay {
    padding-bottom: 10px;
}

.detail {
    text-align:center;
    font-size: 12px;
    color: blueviolet;
}

.description {
    text-align: left;
    padding: 20px;
}

.title {
    color: black;
    padding-bottom: 10px;
}